body {
  font-family: Arial, sans-serif;
  background-color: #F4EBDA;
  color: #333;
  margin: 0;
  padding-top: 80px;
}

header {
      text-align: center;
      background-color: #A6B5A5;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 0;
      box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li{
      display: inline-block;
  　　 margin: 0 20px;
      font-size: 18px;
}

nav ul li a{
  text-decoration: none;
  color: #F4EBDA;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  background-color: #F4EBDA;
  color: #262724;
  border-radius: 5px;
}

.now{
  display: inline-block;
  padding: 8px 12px;
  background-color: #F4EBDA;
  color: #262724;
  border-radius: 5px;
  font-weight: bold;
}

.mokuhyo{
  display: flex;
}

h2 {
  color: #A6B5A5;
  text-align: center;
  margin: 5px 5px;
}

h3 {
  color: #A6B5A5;
  margin:  5px 20px;
}

h4 {
  margin: 5px 20px;
}

p {
  margin: 5px 20px;
  color: #262724;
}

a {
  color: #A6B5A5;
  text-decoration: none;
  margin: 0 1em;
}

a:hover {
  text-decoration: none;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px 2px;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
  color: #262724;
}

table tr:nth-child(odd){
  background-color: #F4EBDA;
}

table tr:nth-child(even){
  background-color: #A6B5A5;
}

@media screen and (max-width: 480px) {
	body {
  font-family: Arial, sans-serif;
  background-color: #F4EBDA;
  color: #333;
  margin: 0;
  padding-top: 80px;
}

header {
      text-align: center;
      background-color: #A6B5A5;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 0;
      box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li{
      display: inline-block;
  　　 margin: 0 20px;
      font-size: 18px;
}

nav ul li a{
  text-decoration: none;
  color: #F4EBDA;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  background-color: #F4EBDA;
  color: #262724;
  border-radius: 5px;
}

.now{
  display: inline-block;
  padding: 8px 12px;
  background-color: #F4EBDA;
  color: #262724;
  border-radius: 5px;
  font-weight: bold;
}

h2 {
  color: #A6B5A5;
  text-align: center;
}

h3 {
  color: #A6B5A5;
  margin: 5px 20px;
}

h4 {
  margin: 5px 20px;
}

p {
  margin: 5px 20px;
  color: #262724;
}

a {
  color: #A6B5A5;
  text-decoration: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px 2px;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
  color: #262724;
}

table tr:nth-child(odd){
  background-color: #F4EBDA;
}

table tr:nth-child(even){
  background-color: #A6B5A5;
}
}
