body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* 柔らかな水色の背景色 */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4dd0e1; /* 水色のヘッダー */
  color: white;
  padding: 1em 0;
  text-align: center;
}

h2 {
  color: #00796b; /* 深緑色のタイトル */
  text-align: center;
}

a {
  color: #00796b;
  text-decoration: none;
  margin: 0 1em;
  text-align: center;
}

p {
  color: #00796b;
  text-decoration: none;
  margin: 0 1em;
}

a:hover {
  text-decoration: underline;
}

.pic_frame{
  display: inline-block;
  text-align: center;
}

table {
  text-align: center;
}

img {
  border: solid 1px #777777; 
  border-radius: 8px;
}

footer {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h2{
  color: #00796b;
  font-size: 18px;
  text-align: left;
}
