body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* 柔らかな水色の背景色 */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
      text-align: center;
      background-color: #e0eefa;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 0;
      box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li{
      display: inline-block;
  　　margin: 0 20px;
      font-size: 18px;
}

nav ul li a{
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

nav ul li a:hover{
  background-color: #00796b;
  color: white;
  border-radius: 5px;
}

.now{
  display: inline-block;
  padding: 8px 12px;
  background-color: #00796b;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

h2 {
  color: #00796b; /* 深緑色のタイトル */
  text-align: center;
}

h3 {
  color: #00796b;
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

img {
  display: block;
  margin: 10px auto;
}

a {
  color: #00796b;
  text-decoration: none;
  margin: 0 1em;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
