body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* 柔らかな水色の背景色 */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4dd0e1; /* 水色のヘッダー */
  color: white;
  padding: 1em 0;
  text-align: center;
}

h2 {
  color: #00796b; /* 深緑色のタイトル */
  text-align: center;
}

a {
  color: #00796b;
  text-decoration: none;
  margin: 0 1em;
  text-align: center;
}

p {
  color: #00796b;
  text-decoration: none;
  margin: 0 1em;
}

a:hover {
  text-decoration: underline;
}

img {
  border: solid 1px #777777; 
  border-radius: 8px;
  object-fit: cover;
  object-position: 50% 50%;
}

.yohaku1 {
  margin: 200px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.box{
  border: 2px dashed #00796b;
  padding: 10px;
  width: 45%;
  margin: 10px;
}

.btn {
  background-color: #ffd700;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
  outline: 1px solid;
  outline-color: #ffd700;
  outline-offset: 0px;
  display: inline-block;
  transition: .3s;
}
.btn:hover {
  color: #fff;
  animation: light .8s infinite;
}
@keyframes light {
  100% { 
    outline-color: transparent;
    outline-offset: 10px;
  }
}

/* 一旦キャンセル
footer {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer h2{
  color: #00796b;
  font-size: 18px;
  text-align: left;
}
*/
